@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@ViewBag.Topic</h1>

@for (int i = 0; i < ViewBag.Posts.Count; i++)
{

        <a asp-action="ViewThread" asp-controller="Forum" asp-route-startPost="@ViewBag.Posts[i].ForumPostId" class="Normal-link">
            <div class="container border  m-2 bg-info text-white">
                <h3 class="text-center">@ViewBag.Posts[i].PostTitle</h3>
                <p class="Big-Home">
                    @{ 
                        if (ViewBag.Posts[i].PostText.Length < 50)
                        {
                        @ViewBag.Posts[i].PostText;
                        }
                        else
                        {
                        @ViewBag.Posts[i].PostText.Substring(0, 51);
                            
                        }
                        }
                    @if(ViewBag.Posts[i].PostText.Length > 50)
                    {
                        <span>...</span>
                    }
                </p>
            </div>
        </a>
}
