@model ForumPost
@{
    Model.ParentPost.ForumPostId= @ViewBag.TopPost.ForumPostId;
    
    @Model.PostTitle= @ViewBag.TopPost.PostTitle;

}

<h1 class="text-center">@ViewBag.TopPost.PostTitle</h1>
<p class="text-center">@ViewBag.TopPost.PostText</p>

@for(int i = 0;  i < ViewBag.PostList.Count; i++)
{
    @ViewBag.PostList[i].PostText;
    <br />
}
<h2>Make a Reply!</h2>
<form method="post">
    <div class="form-group py-2">
        <label asp-for="PostText">Post</label>
        <textarea asp-for="PostText" class="form-control"></textarea>
    </div>
    <input type="hidden" asp-for="ParentPost.ForumPostId" value="@ViewBag.TopPost.ForumPostId" />
    <input type="hidden" asp-for="PostTitle" value="@ViewBag.TopPost.PostTitle" />

    <div>
        <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>
